.contenido-relacionado{
    display: flex;
    flex-direction: column;
    background-color:  rgb(109,109,109);
    height: var(--navar-heigh);
}

.contenido-relacionado .item
{
    
    padding: 15px;
    text-align: center;
    
}

.contenido-relacionado .item img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    object-position: center top;
}


@media(min-width: 768px) 
{
  

}