
.navbar {
position: fixed;
background-color: black;
width: 100%;
top:0;
left: 0;
height: var(--navbar-height);

}

/*.logo {
background: url('../images/OIP.png' ) top center no-repeat;
height: var(--navbar-height);
margin-left: 2rem;


}*/

.brand {
  color: white;
  font-size: 2rem;
  height: var(--navbar-height);
  text-align: center; 
  
}

.brand::first-letter{
  color: var(--color-first-letter);
}


#burger-checkbox {
  display: none;
}

.burger-label {
  background-color: black; 
  position: absolute;
  top: 0;
  left: 0;
  width: 2.2rem;
  height: 2.2rem;
  
  /* no es necesario para dispositivo táctil */
  /* cursor: pointer; */
}

.burger-label:before {
  content: '';
  background-color: white;
  width: 1.4rem;
  height: 0.12rem;
  position: absolute;
  left: 0.45rem;
  top: 1rem;

  box-shadow: 0 0.45rem 0 0 white, 0 0.9rem 0 0 white;
}







.search {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}


.navbar-list {
  list-style: none;
  border: 1px solid darkgrey;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  background-color: rgb(0, 0, 0);
}

.navbar-list > a{
  padding: 1rem;
  color: white;
}

.navbar ul {
  list-style-type: none;
  ;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {

  margin: 0;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  
}

.navbar a{
  display: block;
  color: white;
  

}

.menu li .active {
  
  background-color: black;
}

nav a:hover
{ 
  background-color: black;
}

