
.navbar {
position: fixed;
background-color: black;
width: 100%;
top:0;
left: 0;
height: var(--navbar-height);
}

.logo {
background: url('../images/OIP.png' ) top center no-repeat;
height: var(--navbar-height);
margin-left: 2rem;


}

.brand {
  color: white;
  font-size: 2rem;
  height: var(--navbar-height);
  margin-left: 2rem;  
}


#burger-checkbox {
  display: none;
}

.burger-label {
  background-color: black; 
  position: absolute;
  top: 0;
  left: 0;
  width: 2.2rem;
  height: 2.2rem;
  
  /* no es necesario para dispositivo táctil */
  /* cursor: pointer; */
}

.burger-label:before {
  content: '';
  background-color: white;
  width: 1.2rem;
  height: 0.12rem;
  position: absolute;
  left: 0.45rem;
  top: 0.65rem;

  box-shadow: 0 0.25rem 0 0 white, 0 0.5rem 0 0 white;
}





.menu {
  width: 100%;

  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



.search {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}


.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}

.navbar-list > a{
  padding: 1rem;
  color: white;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

.menu a{
  display: block;
  padding: 8px;
}

.menu li .active {
  
  background-color: black;
}

nav a:hover
{ 
  background-color: black;
}

