.section.light {
  background:darkgrey;
}

.enlace-section {
  text-decoration-line: none;
}  

.article{
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: stretch;
  height: 300px;  
  
}

.favorite-icon-active
{
  width: 20px;
  height: 20px;
  position: absolute;
  margin: 5px 10px; 
    background: url('/images/heart-active.png') center center no-repeat;
    background-size: 20px;
}


.favorite-icon
{
  width: 20px;
  height: 20px;
  position: absolute;
  margin: 5px 10px; 
  background: url('/images/heart.png') center center no-repeat;
  background-size: 20px;
}

.imagen-pelicula{
  width: 100%;
  text-align: center;
  overflow: hidden;   
  height: 250px;
  object-fit: cover;
  object-position: center top;
  
}

.article .detalle-pelicula
{
  padding:15px;
  background-color: rgba(255,255,255, 0.55);
  overflow: hidden; 
  height: 250px;
  color:black;

}
.article .detalle-pelicula h2
{
  margin:0;

}

.resumen-pelicula td {
  padding: 8px;
  text-align: justify; 
}

.clasificacion-13{ 
  background-color: rgb(143, 123, 34);
  padding:3px;
  color: white;
  font-size: 1.2rem;
  border-radius: 3px;
  font-weight: bold;
  float: left;
  margin-right: 1rem;  
}

.clasificacion-7{
 
  background-color: rgb(83, 136, 33);
  padding:3px;
  color: white;
  font-size: 1.2rem;
  border-radius: 3px;
  font-weight: bold;
  float: left;
  margin-right: 1rem;
  
}

.clasificacion-18{
 
  background-color: rgb(204, 83, 35);
  padding:3px;
  color: white;
  font-size: 1.2rem;
  border-radius: 3px;
  font-weight: bold;
  float: left;
  margin-right: 1rem;
}


@media (min-width: 768px) {
  
    .flex-card-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    overflow:hidden;

  }

  .article{
        
    display: block;   
    position: relative;
    justify-content: space-between;
    min-width: 200px;
    height: 250px;
  }
  
  .article .detalle-pelicula
  {   
    padding: 0.80rem;
    height: 250px;
    position: absolute;
    top:0;
    margin-left:-8px;
    visibility: hidden;  
    color:white;
    font-weight: bold;
    background-color: rgba(0,0,0,0.65);

    
  }
  .article .imagen-pelicula {
    height: 100%;
  
    min-width: 150px;
    box-shadow: 2px 2px 10px;
   
  }
  

  .detalle-pelicula h2 {
    font-size: 1.1rem;
  }
  .resumen-pelicula
  {
    font-size: 0.8rem;
    text-align: justify;
  }
  
  .clasificacion-7  {
    font-size: 0.8rem;
  }
  .clasificacion-13  {
    font-size: 0.8rem;
  }
  .clasificacion-18  {
    font-size: 0.8rem;
  }

  .article:hover .detalle-pelicula{
    visibility: visible;
  }

}