@import url('main.css');
@import url('navbar.css');
@import url('section.css');

:root {
    --navbar-height:3rem;
    --color-first-letter: #d20000;
}

* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
html {
    scroll-behavior: smooth;
}